@font-face {
  font-family: iranyekan;
  src: url(../fonts/iranyekanwebextrabold.9346e9a2.eot);
}
@font-face {
  font-family: iranyekan;
  src: url(../fonts/iranyekanwebregular.e31c09af.woff2);
}
@font-face {
  font-family: iranyekan;
  src: url(../fonts/iranyekanwebextrabold.9346e9a2.ttf);
}
@font-face {
  font-family: iranyekan2;
  src: url(../fonts/iranyekanwebmedium.2d4f96e5.eot);
}
@font-face {
  font-family: iranyekan2;
  src: url(../fonts/iranyekanwebmedium.2d4f96e5.ttf);
}
@font-face {
    font-family: iranyekan2;
    src: url(../fonts/iranyekanwebmedium.2d4f96e5.woff);
  }
  @font-face {
    font-family: iranyekan2;
    src: url(../fonts/iranyekanwebmedium.2d4f96e5.woff2);
  }

